@import "../bootstrap-5.3.3/scss/bootstrap.scss";

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  
  
  .logo img{
      max-width: 130px;
      height: auto;
  }
  
  html{
      scroll-behavior: smooth;
  }
  
  .nav-menu{
      font-family: "Montserrat", sans-serif;
      
  }
  .navbar-nav .nav-link.active {
      color: white !important;
      font-family: "Montserrat", sans-serif;
  }
  .nav-link {
      color: white !important;
      font-family: "Montserrat", sans-serif;
  }
  .menu1{
    background-color: #E8E8E8;
    color: black;
    height: 40px; 

  }
  .menu2 {
    background-color: black;
    
  }
  
  
  .containerportada {
      background-image: url(../img/tayportada-2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 620px; 
  }
  
  
  body{
  
      p {
          color: #595959;
          font-family: "Montserrat", sans-serif;
      }
      h1, h2, h3, h4 {
          color: #595959;
          font-family: "Montserrat", sans-serif;
      }

      ol {
        li{
            color: #595959; 
            font-family: "Montserrat", sans-serif;
        }
      }
  
      background-color: #F5F5F5 !important; 
  }
  

  #contenidoTraduccion {
      p {
      color: white !important; 
      }
}
  
  iframe {
    width: 100% !important;
    height: 460px !important;
}

.fullscreen-video{
    margin-top: 120px;
    margin-bottom: 120px;
}

  //contenedor1
  
  .container1 {
     
      margin-bottom: 120px;
  }
  .img1-taylorwho {
    border-left: 1px solid #FCDBDB;
    border-right: 1px solid #FCDBDB;
}
.img2-taylorwho {
    border-right: 1px solid #FCDBDB;
}


.taylorsversion{
    font-size: 140px;
    font-weight: 100;
    opacity: 0.1;
  
}
  
  .contenedor3 {
      margin-top: 150px;
  }
  
//contenedor de productos

.productoss {
      margin-top: 100px !important;
  
  
  }
  .producto1, .producto2, .producto3, .producto4 {
    border:solid 1px #550A00 ;
    background-color: #550A00; 

}
.image-container img {
     
    transition: opacity 0.1s ease-in-out;
    display: block;
    width: 100%; 
    height: auto;
}
  

.hover-imagen {
      opacity: 0;
}
  
.image-container:hover .hover-imagen {
      opacity: 1;
}

//galeria
  .galeria {
      margin-top: 100px !important;
  
  
  }
  .iluminar {
      filter: brightness(1.3); 
      transition: filter 0.3s ease;
  }
  //iconos
  .iconosd {
      border: solid 1px white;
      border-radius: 50%;
      transition: border-color 0.3s ease; 
      display: inline-block; 
      padding: 10px; 
  
  
      img {
      width: 64px;
      height: auto;
   }
  
  }
  .botonn {
      font-style: italic;
  }
  .iconosd:hover {
      border-color: red; 
  }
  




  
  .carouselinterno{
      width: auto;
      height: 560px;
  }
  
  .text-container1, .text-container2, .text-container3, .text-container4, .text-container5, .text-container6{
      transform: translateY(250px);
  }
  
  //contenedor 5
  .contenedor5{
      margin-top: 120px;
  }
  
  
  
  .blanco-y-negro {
      filter: grayscale(100%);
      transition: filter 0.8s ease; 
  }

  //footer
  
  .footer1{
      margin-top: 150px;
      li{
          list-style: none;
          color: #595959;
          font-family: 'Montserrat', sans-serif;
      }
      border: solid 1px;
      height: 250px;
      border-color: #550A00;
  }
  
  .video {
      width: 100%;
  
  
  }

#listaCanciones1 li, #listaCanciones2 li {
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre un elemento de la lista */
}
#cancionImagen {
    max-width: 100%;
    height: auto;
}

#cancionDuracion {
    color: black;
}



.custom-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.custom-prev, .custom-next {
    border: none;

}
.my-slider {
    display: flex;
}
.my-slider img {
    width: 100%;
}
 
